@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 50px 0px 25px;
}

.section1 {
    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section1 section {
    width: 30%;
    border: 1px solid black;
    position: relative;
}

.section1 h5 {
    width: 30%;
    border-left: 1px solid #000;
    border-bottom: 1px solid black;
    /* float: right; */
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 0;
    left: 70%;
}

.Chicken h5 {
    background-color: rgb(225, 141, 155);

}

.Beef h5 {
    background-color: rgb(136, 9, 30);
    color: white;
}

.Sushi h5 {
    background-color: rgb(222, 186, 23);
}

.section1 p {
    /* float: left; */
    padding: 10px;
}


/* MEDIA QUERIES */


/* TABLET */

@media (min-width:768px) and (max-width:991px) {
   
    .section1 .Beef,
    .section1 .Chicken{
        width: 48%;
    }

    .section1 .Sushi{
        width: 98%;
        margin: 10px auto;
    }
}

/* MOBILE */

@media (max-width:767px) {


.section1 section {
    width: 80%;
    margin: 10px auto;
}

}